$bg: teal;
$meter-size: 2rem;
.container {
  width: 90%;
  height: 90vh;
  margin: 5vh auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circular-progress {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  // background-color: $bg;
  display: flex;
  justify-content: center;
  align-items: center;
  .meter {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    p {
      margin-bottom: 0;
      width: 50%;
    }
  }
}
